#content{

	search:0 auto;
	height:70%;
}
#lg{
	margin-top:100px;
	width:355px;
	height:125px;
}
#form{
	width:550px;
}
.tag{
	margin:10px 0;
}
.footer{	
	top:90%;
}

.center{
	margin:0 auto;
}
.text_center{
	text-align:center;
}

#test{
	
	color:red;
}
.solid{
	border:solid 1px;
}
