
/* 页面/index/index.html的样式表 */

#search_text_index{ /* 首页的搜索栏 */
	width:99%;
	height:40px;
}
#s_button_index{
	height:40px;
	text-align:center;
	width:99%;
	font-size:20px;
	font-family:"times new roman", helvetica, sans-serif;

}
.content{
	margin-top:10%;
}
.footer{
	width:100%;
	height:80px;
	margin-top:15%;
}

.footer p{text-align:center;margin:0;}

.debug{
	border:solid 1px;
	
}