/* 页面/index/index.html的样式表 */
#content{
	search:0 auto;
	height:70%;
}
#lg{
	margin-top:100px;
	width:480px;
	height:130px;
}
#form{
	width:550px;
}
.tag{
	margin:10px 0;
}
.footer{
	top:90%;
}

.center{
	margin:0 auto;
}
.text_center{
	text-align:center;
}

.solid{
	border:solid 1px;
}
