@CHARSET "UTF-8";
@import url("common.css");
.result_title{
	font-size:1.0em;
}
.result_content{
	font-size: 15px;
	padding:5px, auto;
	margin:.5em 1em;
	line-height:19px;
	max-height:95px;
	overflow:hidden;
}
.label{font-size:.5em}
#search{
	margin:1em auto;
}

#search_text{ /* 搜索结果页面的搜索栏 */
	width:99%;
	height:40px;
}
#s_button{ /* 搜索结果页面搜索栏后面的提交按钮 */
	height:40px;
	text-align:center;
	width:99%;
	font-size:20px;
	font-family:"times new roman", helvetica, sans-serif;
	color:white;
	background-color:blue;
}
.jf{ /* 搜索结果概况中插入的文字 */
	margin:0 2px;
	color:#8000ff;
}
#s_tb{
	width:100%;
}
.inner_content{
	margin-left:2em;
	margin-top:1em;
}
.main_content{
	width:55%;
	margin-right:40%;
	margin-left:5%;
	border-right:1px solid;
	padding:0;
	background:#fff;

}

.right_column{
	width:39%;
	height:100%;
	padding:0;
	position:fixed;
	margin-left:60%;

}
.inner_right{
	width:100%;
}
h2{text-align:center;
	font-weight:normal;
}
#main{
	width:100%;
	min-height:300px;

}
.debug{
	border:solid 1px;
}
.debug2{
	border:solid 1px red;
}

/* 分页链接样式 */
.paging{
	margin:20px 0 30px 0;
	font-size:1.1em;
}
.paging_item, .current_page,.last_page, .next_page{
	border:solid 1px #ccc;
	min-width:30px;
	width:30px;
	height:30px;
	
	margin:2px 4px;
	padding:3px;
}
.current_page,.last_page, .next_page{
	border-color:#eee;
}
.paging a:link{			/* 超链接未点击时的样式 */
	text-decoration:none; /* 取消超链接默认的下划线修饰 */
}
.paging a:visited{
	color:purple;
}
.paging a:hover{
	text-decoration:underline; 
	color:red;
}
